<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Godot Local SDK" value="C:\Godot_v4.6.3-stable_mono_win64\Godot_v4.6.3-stable_mono_win64\GodotSharp\Tools" />
  </packageSources>
</configuration>